body{
    background-image: url('../img/fondoWeb.png');
}

.LoginUsuario{
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    display: flexbox;
}

#encabezado{
    text-align: center;
}

#eslogan{
    text-align: center;
}
